#include "messages.rc"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Infinidat Ltd."
#define VER_INTERNALNAME_STR            "MESSAGES.DLL"
#define VER_ORIGINALFILENAME_STR        "MESSAGES.DLL"

